.login__logo {
  width: 183px;
  height: 69px;
  background-image: url('../../../assets/auth/auth-logo.svg');

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  margin-top: 60px;
  margin-bottom: 25px;
}

.login__title {
  color: #000;
  font-family: 'SpoqaHanSansNeo', sans-serif;
  font-size: 16px;

  font-weight: var(--font-medium);
  line-height: normal;
  text-align: center;

  margin-bottom: 9px;
}

.login__description {
  color: var(--color-text-additional);
  font-family: 'SpoqaHanSansNeo', sans-serif;
  font-size: 14px;

  font-weight: var(--font-light);
  line-height: normal;
  text-align: center;

  margin-bottom: 110px;
}

.login__button {
  width: 161px;
  height: 34px;

  border: none;
  background: transparent;
  padding: 0;
}

.login__button img {
  width: 100%;
  height: 100%;
}

/* 태블릿 */
@media (min-width: 768px) {
  .login__logo {
    width: 229px;
    height: 87px;

    margin-top: 75px;
    margin-bottom: 31px;
  }

  .login__title {
    font-size: 20px;
    margin-bottom: 11px;
  }

  .login__description {
    font-size: 16px;
    margin-bottom: 137px;
  }

  .login__button {
    width: 202px;
    height: 43px;
  }
}

/* 데스크탑 */
@media (min-width: 1024px) {
  .login__logo {
    width: 305px;
    height: 115px;

    margin-top: 100px;
    margin-bottom: 41.5px;
  }

  .login__title {
    font-size: 24px;
    margin-bottom: 15px;
  }

  .login__description {
    font-size: 18px;
    margin-bottom: 183px;
  }

  .login__button {
    width: 269px;
    height: 57px;
  }
}
