.user-result__container {
  width: 100%;
  max-width: 411px;
  padding: 0 16px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-result__logo {
  width: 183px;
  height: 70px;
  background-image: url('../../../assets/auth/auth-logo.svg');

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  margin-bottom: 18px;
}

/* 중앙 흰색 카드 */
.user-result__card {
  width: 100%;
  border-radius: 10px;
  background: var(--color-box-popup);

  padding: 40px 16px 18px 16px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 38px;
}

/* 페이지 제목 */
.user-result__title__01 {
  color: var(--color-text);
  font-family: 'SpoqaHanSansNeo', sans-serif;
  font-size: 16px;

  font-weight: var(--font-bold);
  line-height: normal;

  text-align: center;
  margin-bottom: 26px;
}

.user-result__title__02 {
  color: var(--color-text-additional);
  font-family: 'SpoqaHanSansNeo', sans-serif;
  font-size: 14px;

  font-weight: var(--font-medium);
  line-height: normal;

  text-align: center;
  margin-bottom: 37px;
}

.user-result__box {
  width: 100%;
  max-width: 218px;
  border-radius: 10px;
  background: var(--color-box-info);

  padding: 18px 12px;
  box-sizing: border-box;

  margin-bottom: 0;

  display: grid;
  grid-template-columns: auto auto;
  column-gap: 30px;
  row-gap: 7px;
  justify-content: start;

  color: var(--color-text-additional);
  font-family: 'SpoqaHanSansNeo', sans-serif;
  font-size: 13px;

  font-weight: var(--font-regular);
  line-height: normal;
}

.user-result__button {
  width: 100%;
}

.user-result__button-icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

/* 태블릿 */
@media (min-width: 768px) {
  .user-result__container {
    max-width: 411px;
  }

  .user-result__logo {
    width: 229px;
    height: 87px;
    margin-bottom: 23px;
  }

  .user-result__card {
    max-width: 411px;
    padding: 50px 16px 23px 16px;
    margin-bottom: 48px;
  }

  .user-result__title__01 {
    font-size: 20px;
    margin-bottom: 33px;
  }

  .user-result__title__02 {
    font-size: 16px;
    margin-bottom: 46px;
  }

  .user-result__box {
    max-width: 273px;
    padding: 23px 15px;
    margin-bottom: 0;
    column-gap: 38px;
    row-gap: 9px;
    font-size: 15px;
  }

  .user-result__button-icon {
    width: 18px;
    height: 18px;
    margin-right: 9px;
  }
}

/* 데스크탑 */
@media (min-width: 1024px) {
  .user-result__container {
    max-width: 507px;
  }

  .user-result__logo {
    width: 306px;
    height: 116px;
    margin-bottom: 30.5px;
  }

  .user-result__card {
    padding: 67.5px 40px 30px 40px;
    margin-bottom: 64px;
  }

  .user-result__title__01 {
    font-size: 26px;
    margin-bottom: 44px;
  }

  .user-result__title__02 {
    font-size: 20px;
    margin-bottom: 61.5px;
  }

  .user-result__box {
    max-width: 364px;
    padding: 30px 20px;
    margin-bottom: 0;
    column-gap: 50px;
    row-gap: 12px;
    font-size: 20px;
  }

  .user-result__button {
    width: 411px;
  }

  .user-result__button-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}
